@model EDIsystems.Models.Jobs.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.App.AppName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App.AppName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files_DwUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Files_DwUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files_Sorted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Files_Sorted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
